.container {
  position: absolute;
  top : 50%;
  left : 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width : 700px;
  height: 600px;
  border-radius: 2px;
  border-style: solid;
  border-color: #0064FF;
  transition: all 1s;

}
